<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.saucedemo.util.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Masoud/Desktop/QA_Automation/Selenium/Projects/saucedemo">
        <classes>
            <class name="com.saucedemo.tests.LoginTests"/>
            <class name="com.saucedemo.tests.InventoryTest"/>
            <class name="com.saucedemo.tests.CheckoutTest"/>
        </classes>
    </test>
</suite>